@charset "utf-8";
/*
 * Originally from The Columbia Theme
 * Custom Theme Styles
 * File: css/custom.css
 *
 */

/* Begin custom styles */
.overlay{
	opacity: 1 !important;
}

.juicer-feed.loaded{
	overflow: hidden;
}
	.juicer-feed.image-grid .text .message p, .juicer-feed.slider .text .message p{
		  color: palegoldenrod;
	}

.meetup-menu-bg{
	background-image: url(https://bb422bb78ee5f8bcbb55e34d2e0c79a18dce774e.googledrive.com/host/0B9LVk4xbDIJTXzV5Y2d5VnBCc3M/space-odyssey-2015.jpg);
}
	.about-menu-bg{
		background-image:url(https://e01664e04f761a953c177fc6c099b54b4a0ab988.googledrive.com/host/0B9LVk4xbDIJTRmwzeHdZZERtOGM/newspace-nyc_icon.svg);
	}
	.incubator-menu-bg{
		background-image:url(https://bb422bb78ee5f8bcbb55e34d2e0c79a18dce774e.googledrive.com/host/0B9LVk4xbDIJTXzV5Y2d5VnBCc3M/newspacenyc-workshop-small.jpg);
	}

.columbia-overlay {
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  -khtml-opacity: .333;
  -moz-opacity: .333;
  opacity: .333;
  -webkit-transition: all ease 0.777s;
  -moz-transition: all ease .777s;
  -o-transition: all ease .777s;
  transition: all ease .777s;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
}

.splash-event-h1{
	font-size: 33px;
	margin-bottom: 0;
}

.splash-event a[type="button"]{
	margin: 13px 0px 0px 23px;
}
.splash-event a[type="button"].past{
	border: 2px solid #CBCBCB;
	color: #909090;
}


#clients .pure-u-1-6{
	margin: auto 11px;
}
	#clients{
		padding: 0px 0px 110px;
	}
	.spaceangels-div{
		width: 31%;
		float: left;
		margin: auto 11px auto 47px !important;
	}
	.outernet-logo-div{
	  margin: auto 0px 0px 36px !important;
	}
	.outernet-logo{
	  border-radius: 90px;
	}
	.solx-logo{
	  margin: 44px auto auto !important;
	}
	.csl-div{
		float: right;
		margin: -141px 62px auto auto;
	}
	.a1l-div{
		width: 188px;
		margin: auto !important;
		display: block;
	}
	.a1l-div img{
		margin: 10px auto auto 0px !important;
		width: 77%;
	}

pre{
	font-size: 13px;
}

#clients .container{
	width: 86%;
}

#three p{
	margin: 0 55px 55px;
}
.telegram{
	width: 55px;
	position: absolute;
	margin-left: -33px;
}
	.socialicons li{
		width: 55px;
	}
	.socialicons sub{
		font-size: 11px;
		line-height: 13px
	}
	.telegram sub{
		margin: 56px 0 0;
		display: block;
	}
	.telegram-contact sub{
		width: 111px;
		display: block;
	}


 /* ------------------- _________________________ large resolutions styles _________________________ ------------------- */
@media (min-width:1600px){
	#stats{
		height: 999px;
	}
	#stats .container{
		margin-top: 244px;
	}
}

 /* ------------------- _________________________ mobile styles _________________________ ------------------- */
@media (max-width:768px){
	.solx-logo {
		margin: 18px auto auto !important;
	}
	#clients .pure-u-1-6, #clients .pure-u-1-5, #clients .pure-u-1-3, #clients .pure-u-1-4 {
    width: 40%;
		display: inline-block;
	}
	.outernet-logo-div{
		padding: 0px 77px;
		margin: auto !important;
		width: 100% !important;
	}
	.spaceangels-div{
		width: 80% !important;
		float: inherit;
		margin: 13px auto auto auto !important;
	}
	.csl-div{
		float: inherit;
		width: 57% !important;
		margin: auto;
	}
	.cvc-div{
		float: left;
		clear: both;
	}
	.xcor-div{
		width: 44% !important;
		padding: 0px;
		margin: -26px 8px -25px 10px !important;
	}
}
