@charset "utf-8";
/*
 * Columbia Theme
 * Custom Theme Styles
 * File: css/custom.css
 *
 */

/* Begin custom styles */

#clients .pure-u-1-6{
	margin: auto 11px;
} 

#clients{
	padding: 0px 0px 110px;
}

pre{
	font-size: 13px;
}