body {
    background-color: #00000E;
    margin: 0 auto;
    line-height: 1.7em;
    color: #999; /*#518749 */
    overflow-x: hidden;
}

.venue{
    float: right;
    border: 1px solid rgba(215, 227, 255, 0.04);
    padding: 7px;
    border-radius: 4px;
    background: rgba(53, 66, 162, 0.07) none repeat scroll 0% 0%;
    margin: 3px 4px 0 0;
}
.speakers-bg{
    border: 1px solid rgba(215, 227, 255, 0.04);
    border-radius: 4px;
    background: rgba(53, 66, 162, 0.07) none repeat scroll 0% 0%;
    width: 254px;
    margin: 15px 0px;
    padding: 1px 0px 20px 13px;
}
    .speakers-bg:first-child{
        margin: 7px 0;
    }
    .speakers-bg sub{
        color: #7F7FEA;
        float: left;
        padding: 1px 1px 0px;
    }
.dark-card{
    transition-duration: 0.777s;
    display: block;
    color: #F1F1FF;
    padding: 33px;
    background: none repeat scroll 0% 0% rgba(4, 4, 11, 0.86);
    box-shadow: 7px 7px 13px rgba(1, 0, 30, 0.78);
}
.opacity-1{
    opacity: 1 !important;
}
.show-it{
    display: block !important;
    opacity: 1 !important;
}
.hide-it{
    display: none !important;
}
.majortom-youtube{
    width: 560px;
    height: 315px;
    transition-duration: 0.777s;
    display: none;
    margin: auto auto 31px;
}

.header {
    transition-duration: 0.777s;
    opacity: 0;
    margin: 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #aaa;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

a{
    text-decoration: none;
}

.center{
    text-align: center;
}

.splash {
    margin: 0 auto;
    padding: 3em 0.5em;
    background: rgba(238, 238, 238, 0.05) url("https://703b2c069452b328a61a9d57b759c4ce8e2e8891.googledrive.com/host/0B9LVk4xbDIJTMW44enlTSnVzWkE/unsplash-blue-tall-galaxy.jpeg") 0 697px;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }
    .slogan-words{
        margin: 77px auto auto 111px;
        width: 555px;
        display: inline-block;
        padding: 33px 21px 44px 39px;
        float: left;
    }
        .slogan-words ul{
            padding: 0px 0px 0px 16px;
        }
        .slogan-words h1{
            color: #fff;
        }
    .get-updates{
        transition-duration: 0.777s;
        margin: 51px auto 333px;
        width: 21%;
        display: block;
        text-align: center;
        padding: 33px 33px 47px;
    }
    .speakers{
        margin: 111px 0 23px 77px;
        width: 89%;
    }
    .speakers.row2{
        margin: 0px 0px 23px 77px;
    }
    .speakers.row3{
        margin: 0px 0px 111px 77px;
    }
    .speakers-ul{
        padding: 0 0 0 13px;
        margin: 3px 0px 0px -16px;
    }
    .speakers-include{
        width: 290px;
    }
    .speaker{
        float: left;
        margin: 33px 111px auto 33px;
        padding: 71px 71px 44px;
        text-align: center;
        height: 404px;
    }
        .csl-div{
          float: right;
        }
        .csl-div img{
          margin: 22px 0px 0px !important;
          width: 256px !important;
        }
        .csl-logo-img{
          float: right;
        }
        .speaker.sponsors h4{
          margin: 21px auto 0;
          width: 101%;
          float: left;
          clear: both !important;
          color: #4C7CB1 !important;
        }
        .speaker.sponsors{
          margin: 111px 111px auto 41px !important;
          padding: 71px 71px 44px;
          height: inherit;
          width: 74%;
          background: #fff;
        }
          .speaker .pure-u-1-3:first-child{
            margin-left: 18px;
          }
          .speaker .pure-u-1-3{
            margin: 0 0 6px 46px;
          }
          .speaker.sponsors img{
            width: 133px;
          }
        .speaker.honeybee{
          padding: 159px 71px 0;
          height: 361px;
        }
        .spaceangels-img{
          margin: 27px auto auto !important;
          width: 333px !important;
        }
        .speaker:first-child{
            margin: 33px 111px auto 41px;
        }
        .speaker img{
            margin: auto;
            display: block;
            width: 222px;
        }
        .speaker h3{
            margin: 53px auto 0px;
        }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    .actions-holder{

    }
    .actions-card{
        border: 1px solid rgba(215, 227, 255, 0.04);
        padding: 7px;
        margin: 134px 111px auto 0;
        padding: 33px 4px 44px 39px;
        float: right;
    }
        .actions-card ul{
            list-style: none;
        }
        .actions-card li{
            margin: 13px auto;
        }
        .actions-card .pure-button{
            margin: 3px 13px auto auto;
            width: 101px;
            background: rgba(31, 66, 137, 0.37) none repeat scroll 0% 0%;
            border: 1px solid #143477;
            color: #AEC8FF;
        }
        .actions-card .pure-button:hover{
            border: 1px solid #264E9F;
            color:#fff;
            background: rgba(31, 66, 137, 0.77) none repeat scroll 0% 0%;
        }
    .pure-button{
        transition-duration: 0.777s;
        box-shadow: 7px 7px 13px rgba(1, 0, 30, 0.78);
    }
    .pure-button:hover{
        box-shadow: 2px 2px 3px rgba(1, 0, 30, 0.99);
    }
    .newspace-slogan{
        color: #281DE6;
        float: left;
        padding: 0px 0px 33px;
        margin: 41px 20px -4px 13px;
    }
    .newspace-slogan a{
        color: #7F63CB;
        text-decoration: none;
    }
    #mce-EMAIL{
        background: #000;
        border: 1px solid rgba(116, 116, 192, 0.04);
        color: #7474C0;
        padding: 9px 3px;
        margin: auto auto 3px;
    }
    #mc-embedded-subscribe{
        background: none repeat scroll 0% 0% rgb(0, 0, 0);
        border: 1px none blue;
        color: #5252B4;
        width: 232px;
    }

.pure-menu .pure-menu-heading{
    text-transform: none;
}
.content{
    background-color: #09041A;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.yt-section{
    margin: 259px auto 0;
}
.play-icon{
    transition-duration: 0.777s;
    fill: rgba(29, 14, 102, 0.46);
    width: 333px;
    cursor: pointer;
}
    .play-icon:hover{
        fill: rgba(29, 14, 102, 0.77);
    }
.footer {
    color: #666;
    text-align: center;
    padding: 1em 0;
    font-size: 80%;
}

@media (max-width: 1180px){
    .actions-holder{
        margin: auto;
        display: block;
        text-align: center;
    }
    .actions-card{
        width: 40%;
        margin: 131px auto auto;
    }
    .slogan-words{
        float: none;
    }
    .actions-card{
        float: none;
    }
    .speakers{
        margin: 111px auto 0;
        width: inherit;
    }
    .speakers.row2, .speakers.row3{
      margin: 0px 0px 23px 0px;
    }
    .row2 .speaker:first-child, .row3 .speaker:first-child{
      margin: 33px 99px auto 41px;
    }
      .speaker{
          margin: 33px auto;
      }
      .speaker p{
        font-size: 13px;
      }

      .speaker .pure-u-1-3:first-child{
        margin-left: 0;
      }
      .speaker.sponsors{
        width: 76%;
      }
      .get-updates{
        margin: 91px auto 93px;
      }
}

            /* ----------------------- ____________ MOBILE STYLES  ____________ ----------------------- */

 @media (max-width: 768px) {

    .slogan{
        text-align: center;
    }
    .actions-card{
        width: 222px;
        float: inherit;
        margin: auto auto 96px;
        padding: 44px 19px !important;
    }
        .actions-card sup{
            float: left;
            padding: 21px 0;
            margin: auto;
            width: 100%;
        }
        .actions-card ul{                                  /* ----------------------- ____________ MOBILE STYLES  ____________ ----------------------- */
            padding: 0;
        }
    .get-updates{
        margin: 29px auto 226px;
        width: 43%;
        clear: both;
    }
    .venue{
        float: left;
    }
    .event-date{
        margin-top: 22px;
    }
    .slogan-words{
        margin: auto auto 111px;
        padding: 33px 10px 33px 33px;
        width: 78%;
        text-align: left;
    }
        .speakers-include{
           display: none;
        }
        .newspace-slogan{
            margin: 0px 20px -4px 13px;
        }
    .speakers, .speakers.row2, .speakers.row3{
        margin: 0px auto 77px;
        width: 259px;
        display: block;
    }
      .speakers.row2 .speaker:first-child{
        margin-top: -44px;
      }
      .honeybee{                                                   /* ----------------------- ____________ MOBILE STYLES  ____________ ----------------------- */
        margin: 32px 0 !important;
        padding: 86px 18px 82px !important;
        height: inherit !important;
      }
      .csl-div{
        margin: 0 !important;
        float: right;
        clear: both;
      }
      .cvc-div{
        float: left;
        clear: both;
        margin: 23px auto 0;
        display: block;
        width: 82%;
        text-align: center;
      }
      .speaker.sponsors{
        padding: 54px 19px 44px;
        margin: 97px auto 177px !important;
      }
      .spaceangels-img{
        width: 218px !important;
      }
      .csl-div img{
        width: 218px !important;
      }
      .speaker.sponsors .pure-u-1-3{
        float: inherit;
      }
      .speaker.sponsors h4{
        width:100%;
      }
      .speakers.row2 .speaker{                   /* ----------------------- ____________ MOBILE STYLES  ____________ ----------------------- */
        margin: 32px 0;
      }
    .speaker, .speaker:first-child{
        margin: 33px auto;
        padding: 33px 18px 18px;
        width: 222px;
    }
    .speaker:last-child{
        margin: 33px auto 111px;
    }
    .speaker img{
        width: 191px;
    }
}
/* mobile styles end */
